@charset "utf-8";
.fluid {
    width: 100%;
    height: 100%;
}
.site_title {
    text-align: center;
    font-size: xx-large;
    color: hsla(0,0%,70%,1.00);
}
.site_image {
    width: 100%;
    height: 250px;
}
.my_work {
    text-align: left;
    font-style: normal;
}
